CLOUDFLARE_ACCOUNT_ID=''
CLOUDFLARE_API_TOKEN=''
WORKER_D1=''
WORKER_DOMAIN=''
ALLOWED_ORIGIN=''
# Voting / guild.host OAuth (worker secrets)
GUILD_OAUTH_CLIENT_ID=''
GUILD_OAUTH_CLIENT_SECRET=''
GUILD_OAUTH_REDIRECT_URI=''
SESSION_SECRET=''
