@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(4rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

@keyframes odometer-out {
  0% {
    transform: translateY(0);
    filter: blur(0.1rem);
  }
  100% {
    transform: translateY(-100%);
    filter: blur(0);
  }
}

@keyframes odometer-in {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes perspective-in {
  0% {
    transform: rotateY(-25deg) translateZ(-5rem);
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg) translateZ(0);
    opacity: 1;
  }
}


@keyframes breathe {
  0%,
  100% {
    rotate: 0deg;
  }
  50% {
    rotate: 10deg;
  }
}

@keyframes br-cycle {
  0%,
  100% {
    opacity: 0;
  }

  15%,
  25% {
    opacity: 1;
  }
}
