:root {
  --ifm-link-hover-decoration: none;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
  color: #fff;
}

img,
svg {
  user-select: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
  line-height: normal;
}
