@use '../global/mixins' as *;

.main-footer {
  position: relative;
  z-index: 1;
  @include flex(column, center, center);
  gap: 3rem;
  padding-top: 4rem;
  padding-bottom: 6rem;
  padding-inline: 8rem;

  @media (max-width: 630px) {
    padding-top: 1rem;
    padding-bottom: 4rem;
    padding-inline: 2rem;
  }

  & > .content {
    @include flex(row, center, space-between);
    gap: 2rem;
    width: 100%;
    max-width: 128rem;

    aside {
      &:nth-child(1) {
        @include flex(column);
        gap: 2rem;

        h2 {
          @include flex(row, center, flex-start);
          margin-bottom: 0;
          gap: 1rem;
          font-family: var(--ifm-font-family-title);
          font-size: 3.4rem;
          letter-spacing: -0.1rem;
          line-height: normal;

          svg {
            width: 4.8rem;
            height: 4.8rem;
          }

          @media (max-width: 630px) {
            font-size: 2.4rem;
          }

          span {
            color: var(--ifm-color-main);
          }
        }

        p {
          text-align: justify;
          hyphens: auto;
          opacity: 0.5;
        }
      }
    }
  }

  .footnote {
    width: 100%;
    max-width: 128rem;
    opacity: 0.25;

    a {
      color: #fff;
      font-weight: 600;
    }
  }
}
