@use '../global/mixins' as *;
@use 'base' as *;
@use 'home' as *;
@use 'speakers' as *;
@use 'benefits' as *;
@use 'location' as *;
@use 'ticket-selection' as *;

// 404
.hero__title {
  margin-top: 12.5rem !important;

  &,
  ~ p {
    padding-inline: 2rem;
    text-align: center;
  }
}

#root {
  flex-grow: 1;
  width: 100%;

  p {
    margin-bottom: 0;
  }

  &,
  & > main {
    @include flex(column, center, center);
    width: 100%;
  }

  & > main {
    @include base;

    &[id] {
      position: relative;
      padding-inline: 8rem;
      overflow: hidden;
      scroll-margin-top: 20rem;

      @media (max-width: 630px) {
        padding-inline: 2rem;
      }

      @include home;
      @include benefits;
      @include speakers;
      @include location;
      @include ticket-selection;
    }
  }
}
